<div class="p-5 bg-secondary text-white">
    <h1>Congrats dear {{transaction_details.fname }} {{transaction_details.lname}} !</h1>
    <h3>Your payment was successful. Find the transaction details below</h3><br />
    <p>Transaction Id - {{transaction_details.transactionId}} </p>
    <p>Phone number - {{transaction_details.number}} </p>
    <p>Amount paid - {{transaction_details.totalAmount}} $</p><br />
    <h5>Thanks for using our services</h5><br />
    
</div>